---
layout: default
title: Home
---

<div class="row justify-content-center">
  <div class="blog-content col">
    {% for post in paginator.posts %}
    <a class="index-item-link" href="{{ site.baseurl }}{{ post.url }}">
      <article class="index-item post">
        <div class="row align-items-center">
          <h2 class="col">{{ post.title }}</h2>
          <code>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date col-auto">{{ post.date | date_to_string }}</time>
          </code>
        </div>

        <p class="index-excerpt">{{ post.excerpt }}</p>
      </article>
    </a>
    {% endfor %}
  </div>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
