{% assign homeurl = site.baseurl | append: "/" %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{{ homeurl }}">
    <code>&lt; JiaHao /&gt;</code>
  </a>
  <div class="nav">
    <a class="nav-item nav-link {% if page.url == homeurl %}active{% endif %}" href="{{ homeurl }}">Home {% if page.url == homeurl %}<span class="sr-only">(current)</span>{% endif %}</a>
    {% for node in site.pages %}
      {% if node.title != null and node.layout == "page" %}
      <a class="nav-item nav-link {% if page.url == node.url %}active{% endif %}" href="{{ node.url }}">{{ node.title }}{% if page.url == node.url %}<span class="sr-only">(current)</span>{% endif %}</a>
      {% endif %}
    {% endfor %}
    <a class="nav-item nav-link {% if page.url == node.url %}active{% endif %}" href="{{ site.baseurl }}/albums.html">Photography {% if page.url == "/albums.html" %}<span class="sr-only">(current)</span>{% endif %}</a>
    <a class="nav-item nav-link" href="{{ site.baseurl }}/feed.xml" target="_blank">RSS</a>
  </div>
</nav>

<!--     <nav> -->
<!--       <a class="profile-link" href="https://github.com/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/assets/svg/github.svg" alt="GitHub Profile"/></a> -->
<!--       <a class="profile-link" href="https://twitter.com/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/assets/svg/twitter.svg" alt="Twitter Profile"/></a> -->
<!--       <a class="profile-link" href="https://keybase.io/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/assets/svg/key.svg" alt="Keybase Profile"/></a> -->
<!--     </nav> -->
<!--     <small> -->
<!--       &copy; Jia Hao Goh -->
<!--     </small> -->
<!--   </div> -->
<!-- </aside> -->
