{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ homeurl }}" title="Home">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/atom.xml" target="_blank">RSS</a>
    </nav>

    <nav>
      <a class="profile-link" href="https://github.com/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/svg/github.svg" alt="GitHub Profile"/></a>
      <a class="profile-link" href="https://twitter.com/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/svg/twitter.svg" alt="Twitter Profile"/></a>
      <a class="profile-link" href="https://keybase.io/jiahaog" target="_blank"><img class="profile-icon" src="{{ site.baseurl }}/svg/key.svg" alt="Keybase Profile"/></a>
    </nav>
    <small>
      &copy; Jia Hao Goh
    </small>
  </div>
</aside>
