/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=5C6BC0&primary.text.color=ffffff */

a > code.language-text,
a {
  color: #5c6bc0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 2px,
    #5c6bc0 2px,
    #5c6bc0 3px,
    rgba(0, 0, 0, 0) 3px
  );
  text-shadow: 0.02em 0 #fff, -0.02em 0 #fff, 0 0.02em #fff, 0 -0.02em #fff,
    0.03em 0 #fff, -0.03em 0 #fff, 0.0045em 0 #fff, -0.0045em 0 #fff,
    0.06em 0 #fff, -0.06em 0 #fff, 0.06em 0 #fff, -0.075em 0 #fff;
}

/* Don't show the underline for code links */
a > code.language-text {
  background-image: none;
}

a > code.language-text:hover,
a:hover {
  color: #26418f;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 2px,
    #5c6bc0 2px,
    #5c6bc0 3px,
    rgba(0, 0, 0, 0) 3px
  );
  text-shadow: 0.02em 0 #fff, -0.02em 0 #fff, 0 0.02em #fff, 0 -0.02em #fff,
    0.03em 0 #fff, -0.03em 0 #fff, 0.0045em 0 #fff, -0.0045em 0 #fff,
    0.06em 0 #fff, -0.06em 0 #fff, 0.06em 0 #fff, -0.075em 0 #fff;
}

a:visited {
  color: #26418f;
}

*:not(pre) > code {
  line-height: 1.2rem;

  /* GitHub style code spans */
  padding: 0.2em 0.4em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

/* Override the pygments theme to increase padding */
:not(pre) > code[class*='language-'] {
  padding: 0.2em 0.4em;
}

pre {
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  line-height: 1rem;
  overflow: auto;
  padding: 1rem;
}

/* Be consistent with the bottom margin for <p>s */
pre[class*='language-'] {
  margin-bottom: 1.45rem;
}

/* Somehow operators have a whitish background in code */
.token.operator {
  background: none;
}

blockquote {
  font-size: 0.9rem;
  line-height: 1.3rem;
  border-left: 1px solid #1ca086;
}

.anchor,
.anchor:hover {
  background-image: none;
}

/* Because of the responsive image loading, the margin for the images do not apply */
.gatsby-image-outer-wrapper {
  margin-bottom: 1.45rem;
}

/* Allow captions for images, when we have emphasized text directly below them */
.gatsby-resp-image-wrapper + em {
  display: block;
  text-align: center;
  padding-top: 0.8rem;
  font-size: 0.9rem;
}

/* Allow tables to scroll horizontally */
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
