/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=5C6BC0&primary.text.color=ffffff */
a {
  color: #5c6bc0;
}

h1 > a,
h3 > a {
  background-image: none;
}

a:hover {
  color: #26418f;
}

a:visited {
  color: #26418f;
}

p > a:hover {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1px,
    #1ca086 1px,
    #1ca086 2px,
    rgba(0, 0, 0, 0) 2px
  );
}

code {
  line-height: 1.2rem;
}

pre {
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  line-height: 1rem;
  overflow: auto;
  padding: 1rem;
}

/* Be consistent with the bottom margin for <p>s */
pre[class*='language-'] {
  margin-bottom: 1.45rem;
}
