// hide the dropdown for the input box
input::-webkit-calendar-picker-indicator {
  display: none;
}

.text-preset-button-group {
  margin-top: 10px;
}

.text-preset-button-group > .tag:not(:last-child) {
  margin-right: 10px;
}

.text-preset-button-group > .tag {
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
}

.jh-container {
  margin-top: 20px;
}

.storehouse-src {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: none;
}

.f-number-symbol {
  font-style: italic;
  font-family: Trebuchet MS, Candara, Georgia, Calibri, Corbel, serif;
}

.search-box-input {
  font-size: 27px;
  height: 50px;
}

.continue-scroll-placeholder {
  height: 100vh;
}

.scroll-icon {
  margin-top: 30vh;
  font-size: 50px;
}
