// hide the dropdown for the input box
input::-webkit-calendar-picker-indicator {
  display: none;
}

.text-preset-button-group {
  margin-top: 10px;
}

.tag {
  margin-top: 5px;
}

.text-preset-button-group .tag {
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
}

.jh-container {
  margin-top: 40px;
}

.storehouse-src {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: none;
}

.f-number-symbol {
  font-style: italic;
  font-family: Trebuchet MS, Candara, Georgia, Calibri, Corbel, serif;
}

.search-box-input {
  font-size: 27px;
  height: 50px;
}

.continue-scroll-placeholder {
  height: 100vh;
}

.scroll-icon {
  margin-top: 30vh;
  font-size: 50px;
}

.summary-paragraph {
  max-width: 640px;
}

// Photo Showcase

.photo-showcase-container {
  position: relative;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.photo-showcase-img {
  opacity: 0.7;
  display: block;
}

.photo-showcase-img, .photo-showcase-container {
  width: 700px;
}

@media (max-width: 480px) {
  .photo-showcase-img, .photo-showcase-container {
    width: 100vw;
  }
}

@media (max-width: 900px) {
  .photo-showcase-img, .photo-showcase-container {
    width: 70vw;
  }
}

.photo-caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  color: white;
}

// others
