---
# dummy front matter
---

@import "bootstrap";
@import "syntax";

.profile-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.blog-content {
  max-width: 720px;
}

.post {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.index-excerpt {
  padding-top: 1rem;
}
