---
# dummy front matter
---

@import "bootstrap";
@import "syntax";

.profile-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.blog-content {
  max-width: 720px;
}

.post {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.index-excerpt {
  padding-top: 1rem;
}

.index-item {
  padding: 1rem;
}

.index-item:hover {
  background-color: #F8F8F7;
}

.index-item-link:hover {
  text-decoration: none;
  color: $blue;
}
