---
layout: default
---

<div class="row justify-content-center">
  <div class="blog-content col">
    <article class="post">
      <h1 class="display-4">{{ page.title }}</h1>
      <p class="lead">
        {{ page.excerpt }}
      </p>
      {{ content }}
      <p class="text-right">
        <em>Published <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></em>
      </p>
    </article>

    {% if site.related_posts != empty %}
    <div class="post-related">
      <h3>Related posts</h3>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>

